<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>843148011566-32d0dn8n77dnoq64k6kdrp4fsv45peuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843148011566-32d0dn8n77dnoq64k6kdrp4fsv45peuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBKcIiSPdPYoc9yINBMwRiPQ5w3oeJsnyg</string>
	<key>GCM_SENDER_ID</key>
	<string>843148011566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edentify.cafestudy2</string>
	<key>PROJECT_ID</key>
	<string>cs-pushnotification</string>
	<key>STORAGE_BUCKET</key>
	<string>cs-pushnotification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:843148011566:ios:5138a6ad65428f88</string>
	<key>DATABASE_URL</key>
	<string>https://cs-pushnotification.firebaseio.com</string>
</dict>
</plist>
